@using Microsoft.AspNet.Identity
@if (Session["UserID"] != null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Settings", "EditAccount", "EditAccount", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li>
                @Html.ActionLink("Log Out", "Index", "Login", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "RegisterAccount", "RegisterAccount", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "LoginView", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
